.section {
  height: 65vh;
  overflow: hidden;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  .section {
    height: 65vh;
  }
}
