@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  margin: 0;
  background: rgba(13, 2, 33, 1);
  height: 100vh;
  font-family: "Saira", sans-serif;
  font-weight: 700;
}

.root {
  overflow: hidden;
}
.vert-graph {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(247, 6, 207, 0.2) 0%,
    rgba(247, 6, 207, 0.2) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 4em 2em, 4em 2em;
  height: 40em;
  perspective: 1000px;
  margin-top: 20.1em;
  transform: perspective(200px) rotateX(15deg) scale(4);
}
.graph {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(247, 6, 207, 0.2) 0%,
    rgba(247, 6, 207, 0.2) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 4em 2em, 4em 2em;
  height: 40em;
  margin-top: 20em;

  perspective: 1000px;
  transform: perspective(200px) rotateX(15deg) scale(4);
  animation: moving-grid 2s infinite linear;
}
@keyframes moving-grid {
  0% {
    transform: perspective(200px) rotateX(15deg) scale(4) translateY(0em);
  }
  100% {
    transform: perspective(200px) rotateX(15deg) scale(4) translateY(2em);
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.title-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 5px;
  font-size: 90px;
  -webkit-text-stroke: 2px #ffb7f3;

  background: -webkit-linear-gradient(#fff 25%, #111 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.alt-title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 90px;
  color: #ffb7f3;
}
