@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  margin: 0;
  background: rgba(13, 2, 33, 1);
  height: 100vh;
  font-family: "Saira", sans-serif;
  font-weight: 700;
}

.root {
  overflow: hidden;
}
.vert-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(247, 6, 207, 0.2) 0%,
    rgba(247, 6, 207, 0.2) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 4em 2em, 4em 2em;
  height: 40em;
  perspective: 1000px;
  margin-top: 20.1em;
  transform: perspective(200px) rotateX(15deg) scale(4);
}
.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(247, 6, 207, 0.2) 0%,
    rgba(247, 6, 207, 0.2) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 4em 2em, 4em 2em;
  height: 40em;
  margin-top: 20em;

  perspective: 1000px;
  transform: perspective(200px) rotateX(15deg) scale(4);
  animation: moving-grid 2s infinite linear;
}
@keyframes moving-grid {
  0% {
    transform: perspective(200px) rotateX(15deg) scale(4) translateY(0em);
  }
  100% {
    transform: perspective(200px) rotateX(15deg) scale(4) translateY(2em);
  }
}

.body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16% 68% 16%;
  grid-template-rows: 20% 75% auto;
  grid-template-areas:
    "title title title"
    "nav content ."
    "bottom bottom bottom";
}

.title-container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: title;
}

.title {
  font-size: 90px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  text-align: center;
  font-family: "Righteous", cursive;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px #ffb7f3;

  background: -webkit-linear-gradient(#fff 25%, #111 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alt-title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 90px;
  color: #ffb7f3;
}

.nav-menu {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 1000px;
  grid-area: nav;
}

.content {
  background-color: aqua;
  grid-area: content;
}

.bottom {
  background-color: blueviolet;
  grid-area: bottom;
}

@media only screen and (max-width: 725px) {
  .title-container {
    flex-direction: column;
  }
  .title {
    font-size: 70px;
  }
  .body {
    grid-template-rows: 20% 5% 70% auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "nav"
      "content"
      "bottom";
  }
}
